<launch>
  <arg name="namespace" default="ususama"/>
  <node pkg="rosserial_python" name="serial_node" type="serial_node.py" ns="$(arg namespace)">
    <param name="port" value="/dev/ttyACM0"/>
  </node>
  <node name="ususama_rviz" pkg="rviz" type="rviz" args="-d $(find ususama_pose_operator)/rviz/rviz_config.rviz"/>
  <node name="ususama_key_operator" pkg="ususama_key_operator" type="ususama_key_operator" ns="$(arg namespace)" output="screen"/>
</launch>